:root {
	--rosewater: #d8dee9;
	--flamingo: #d8dee9;
	--pink: #b48ead;
	--mauve: #b48ead;
	--red: #bf616a;
	--maroon: #bf616a;
	--peach: #d08770;
	--yellow: #ebcb8b;
	--green: #a3be8c;
	--teal: #8fbcbb;
	--sky: #88c0d0;
	--sapphire: #81a1c1;
	--blue: #5e81ac;
	--lavender: #b48ead;
	--text: #eceff4;
	--subtext1: #e5e9f0;
	--subtext0: #e5e9f0;
	--overlay2: #4c566a;
	--overlay1: #4c566a;
	--overlay0: #434c5e;
	--surface2: #434c5e;
	--surface1: #3b4252;
	--surface0: #3b4252;
	--base: #2e3440;
	--mantle: #2e3440;
	--crust: #2e3440;
}

div[class*="bg-gray-"]:not([class*="bg-gray-900"]):not([class*="bg-gray-700"]):not(.bg-black .bg-gray-800),
div[class*="bg-vert-dark-gradient"] {
	background: var(--base) !important;
}

/* Sidebar */
div[class*="bg-gray-900"] {
	background-color: var(--mantle) !important;
}

.bg-gray-900 .bg-gray-800 {
	background-color: var(--surface0) !important;
}

.bg-gradient-to-l {
	background: none;
}

/* Upgrade Plan */
.shim-yellow {
	display: none;
}

/* Search */
div[class*="bg-gray-700"] {
	background-color: var(--surface0) !important;
}

[class*="text-gray-"],
[class*="text-white"]:not(.btn-primary .text-white) {
	color: var(--text) !important;
}

div[class*="border-gray"],
div[class*="border-white"] {
	border-color: var(--overlay0) !important;
}

input::placeholder,
textarea::placeholder {
	color: var(--overlay0);
}

input,
textarea {
	color: var(--text);
}

[class*="bg-white/5"] {
	background-color: var(--surface0) !important;
}

.px-3.py-3,
.pt-3 {
	background: var(--mantle) !important;
}

.px-3.py-3:hover {
	background: var(--base) !important;
}
/* Bot messages */
.prose {
	--tw-prose-body: var(--text) !important;
	--tw-prose-bold: var(--text) !important;
	--tw-prose-code: var(--text) !important;
	--tw-prose-links: var(--text) !important;
	--tw-prose-headings: var(--overlay1) !important;
}

.bg-black {
	background-color: var(--crust) !important;
}

.bg-black .bg-gray-800 {
	background-color: var(--surface0) !important;
}

code.hljs,
code[class*="language-"],
pre[class*="language-"] {
	color: var(--text) !important;
}

/* Buttons */
.btn-neutral {
	background-color: var(--surface1) !important;
	color: var(--text) !important;
}

.btn-primary {
	background-color: var(--green) !important;
	color: var(--crust) !important;
}

.btn-primary .text-white {
	color: var(--crust) !important;
}

.btn-danger {
	background-color: var(--red) !important;
	color: var(--crust) !important;
}

.text-2xl {
	color: var(--text) !important;
}

.dark [class*="bg-yellow-"] {
	color: var(--crust) !important;
}

.light [class*="bg-yellow-"] {
	color: var(--text) !important;
}

[class*="text-green"] {
	color: var(--green) !important;
}


