prefer-no-csd
screenshot-path null

input {
    touchpad {
        tap
	dwt
	natural-scroll
	scroll-method "two-finger";
    }
    workspace-auto-back-and-forth
}

output "eDP-1" {
    mode "1920x1080"
    scale 1
    position x=0 y=0
    hot-corners {
        off
    }
}

overview {
    zoom 0.5
    workspace-shadow {
        off
    }
}

layout {
    gaps 48
    struts {
        top -24
    }
    background-color "#a7c08000"
    center-focused-column "never"
    preset-column-widths {
	proportion 0.5 
	proportion 1.0 
    }
    default-column-width {
	proportion 0.5
    }
    always-center-single-column
    focus-ring {
        off
    }
    border {
        on
        width 1
        active-gradient to="#9da9a0" from="#7a8478" angle=-45
        inactive-gradient to="#9da9a0" from="#7a8478" angle=-45
	urgent-color "#bf616a"
    }
    shadow {
        on
        softness 50
	spread 4
	color "#0000005f"
	inactive-color "#0000005f"
	offset x=0 y=22
    }
    tab-indicator {
        on
	hide-when-single-tab
	place-within-column
	gap 8
	width 16
	length total-proportion=1.0
	position "left"
	gaps-between-tabs 8
        corner-radius 4
        active-color "#a7c080"
        inactive-color "#859289"
        urgent-color "#e67e80"
    }
}

blur {
    passes 3
    offset 3
    noise 0.1
    saturation 1.5
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

window-rule {
    match is-active=false
    match is-focused=false
    opacity 0.85
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="equibop|firefox|zen-beta|org.freecad.FreeCAD|pcbnew|kicad|gimp"
    default-column-width { proportion 1.0; }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

spawn-at-startup "xwayland-satellite"
spawn-at-startup "syncthing"
spawn-sh-at-startup "quickshell"
spawn-sh-at-startup "swaybg -i ~/dotfiles/dots/wallpapers/ghibli-field.png"
spawn-sh-at-startup "wl-paste --watch cliphist store"


binds {
    Mod+Return { spawn "kitty"; }
    Mod+E { spawn-sh "emacsclient -nca ''"; }
    Mod+Space { spawn-sh "qs ipc call launcher toggle"; }
    Mod+Escape { spawn-sh "qs ipc call lockscreen lock"; }
    Mod+B { spawn "firefox"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }

    XF86MonBrightnessUp { spawn-sh "brightnessctl set +5%"; }
    XF86MonBrightnessDown { spawn-sh "brightnessctl set 5%-"; }

    Mod+Q repeat=false { close-window; }
    Mod+O repeat=false { open-overview; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }

    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    Mod+Shift+Ctrl+H { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-window-to-monitor-right; }

    Mod+Alt+J { move-workspace-down; }
    Mod+Alt+K { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+BackSlash { toggle-column-tabbed-display; }

    Mod+F { switch-preset-column-width; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }

    Mod+Shift+Q { quit; }
}