snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet

snippet ipa "\textipa"
\textipa{$0}
endsnippet

snippet \asp "\super{h}"
\super{h}
endsnippet

snippet -> "right arrow" A
\rightarrow
endsnippet
